/*
 * HOT Tasking Manager
 */


/* CODE THAT IS WRITTEN BELOW SHOWS ON TOP OF THE CODE WRITTEN ABOVE */

/* Taskgrid code was written by Kenneth, I just slightly edited it */
/* Style the Tasks Grid geojson in a similar way to the TM itself */
way[taskStatus=VALIDATED]   { fill-color: green;   fill-opacity: 15%; z-index: -1; }
way[taskStatus=BADIMAGERY]  { fill-color: silver;  fill-opacity: 15%; }
way[taskStatus=MAPPED]      { fill-color: blue; fill-opacity: 15%; }
way[taskStatus=READY]       { fill-color: white;   fill-opacity: 15%; }
way[taskStatus=INVALIDATED] { fill-color: yellow;  fill-opacity: 15%; }
way[taskStatus=LOCKED_FOR_MAPPING] { fill-color: orange; fill-opacity: 15%; }
way[taskStatus=LOCKED_FOR_VALIDATION] { fill-color: orange; fill-opacity: 15%; }

/* Showing number of task in taskgrid */
setting::show_task_ID {
  type: boolean;
  label: tr("Show task number in taskgrid");
  default: true;
}
/* Annotate on the task IDs when the tasks are large enough on screen. */
area|z11-[taskStatus && taskId && areasize() > 4000000][setting("show_task_ID")] { text: "taskId"; }
area|z13-[taskStatus && taskId && areasize() >  100000][setting("show_task_ID")] { text: "taskId"; }
area|z14-[taskStatus && taskId && areasize() >   50000][setting("show_task_ID")] { text: "taskId"; }
area|z16-[taskStatus && taskId                        ][setting("show_task_ID")] { text: "taskId"; }
area|z15-[taskStatus][taskId][setting("show_task_ID")]     { font-size: 12; text-halo-radius: 2; }
area|z16-[taskStatus][taskId][setting("show_task_ID")]     { font-size: 18; text-halo-radius: 3; }

/* Taskgrid width for better visibility*/
*[taskId] {
    width: 5;
}

/* Visibility of mapping status - file for projects overview*/
way[status=Complete]{
    color: #09c738; 
    width: 2;    
    fill-color: #09c738;  fill-opacity: 20%;}
way[status=Ongoing]{
    color: #13b5ca; 
    width: 2;    
    fill-color: #13b5ca;  fill-opacity: 20%;}

/* Building mapped as node for better visibility*/
/* I am using Dan's paint style instead, it's better
node[building]{
    text: tag("building");
    text-color: #fcc;
    text-halo-color: #000;
    text-halo-radius: 2;
    font-size: 15px;
    font-weight: bold;
}
    */

/* Setting to change colour of buildings */
setting::colordisplay {
  type: color;
  label: tr("Color used for displaying buildings");
  default: green;
}


/* Building color*/
way[building]{
    color: setting("colordisplay");
    width: 2;     /* Didn't worked without changing the width */
} 

/* Building tagged as anything else then yes */
way[building][building!=yes]{
    text: tag("building");
    text-color: #fcc;
    text-halo-color: #000;
    text-halo-radius: 2;
    font-size: 15px;
    font-weight: bold;
    fill-color: orange;
}

/* Building with layer = x */
way[building][building!=roof][layer]{
    text: This building has layer attribute;
    text-color: #fcc;
    text-halo-color: #000;
    text-halo-radius: 2;
    font-size: 15px;
    font-weight: bold;
    fill-color: purple;
}


/* Different types of roads*/
way[highway=tertiary]{
    z-index: 6;
    width: 2;
    color: #dbde0e;
}
way[highway=unclassified]{
    z-index: 6;
    width: 2;
    casing-color: #D0D0D0;
    casing-width: 2;
}
way[highway=residential]{
    z-index: 6;
    width: 2;
    casing-color: #82fa19;
    casing-width: 2;
}
way[highway=track]{
    width: 4;
    color: peru;
    dashes: 12,9;
    casing-color: #737373;
    casing-width: 1;
}
way[highway=service]{
    z-index: 6;
    width: 2;
    casing-color: #737373;
    casing-width: 1;
}

/* residential landuse*/
area[landuse=residential]{
    fill-color:#EB6D69
}

/* Different types of waterways*/
way[waterway=stream]{
    width: 2;
    color: DeepSkyBlue;
}

way[waterway=river]{
    width: 3;
}

/* For mapping after earthquakes in Morocco october 2023 - Way with tagged node as damage:  */
node[/^damage:/] < way[highway] { 
    dashes: 12,9;
    dashes-background-color: red;
}
/* For mapping after earthquakes in Morocco october 2023 - Node tagged as damage:  */
node[/^damage:/]{ 
    icon-image: "https://raw.githubusercontent.com/Patrik-Br/My-JOSM/main/Paint_style/icons/damage.png";
    icon-height: 20;
    icon-offset: 8;
    z-index: -3;
}

/* For mapping after earthquakes in Turkey and Syria february 2023*/
way[destroyed:building=yes] {
    width: 4;
    color: white;
    dashes: 12,9;
    dashes-background-color: red;
}

/* Highlighting end of highway*/
way[highway]!:closed >[index=1] node|z15-!:connection!:tagged,
way[highway]!:closed >[index=-1] node|z15-!:connection!:tagged{ 
    icon-image: "https://raw.githubusercontent.com/Patrik-Br/My-JOSM/main/Paint_style/icons/unconnected%20way.png";
    icon-height: 30;
    icon-offset: 8;
    z-index: -3;
}


/* Showing name of ADMIN border*/
way[shapeName]{
    text: tag("shapeName");
    text-color: #fcc;
    text-halo-color: #000;
    text-halo-radius: 2;
    font-size: 15px;
    font-weight: bold;
    fill-color: white; 
    fill-opacity: 1%;
}
/* Showing name of zonesante health border*/
way[zonesante]{
    text: tag("zonesante");
    text-color: #fcc;
    text-halo-color: #000;
    text-halo-radius: 2;
    font-size: 15px;
    font-weight: bold;
    fill-color: white; 
    fill-opacity: 1%;
}
/* Showing ways in custom colour*/
way[colour]{
    fill-color: tag("colour"); 
}

/* Showing nodes in custom colour*/
node[colour] {
    symbol-shape: circle;          /* draw a symbol so there is something to color */
    symbol-size: 7;
    symbol-fill-color: tag("colour");
   /* symbol-stroke-color: #000;      optional outline but then you don't see selection*/
    symbol-stroke-width: 1;
}

/* way for me to visually mark objects. Also added to my personal validator rules so I won't upload */
*[star]{
    icon-image: "https://raw.githubusercontent.com/Patrik-Br/My-JOSM/main/Paint_style/icons/star.png";
    icon-height: 20;
} 


/* Size of nodes made by Martien
setting::building_node_width 
{
  type: double;
  label: tr("Choose node width");
  default: 10;
}
node
{
    symbol-shape: circle;
    symbol-size: setting("building_node_width");
}
*/

/* Showing text put as comment or note, I used this when importing place names from terrain*/
*[comment][setting("special_spase")]{
    text: tag("comment");
    text-color: #fcc;
    text-halo-color: #000;
    text-halo-radius: 2;
    font-size: 15px;
    font-weight: bold;
}
*[note][setting("special_spase")]{
    text: tag("note");
    text-color: #fcc;
    text-halo-color: #000;
    text-halo-radius: 2;
    font-size: 15px;
    font-weight: bold;
}

/* Two rules for validation damage assetments, they falsly tagged many buildings */ 
way[destroyed:building]{
    fill-color: yellow; 
    fill-opacity: 30%;
}

way[damage]{
    fill-color: yellow; 
    fill-opacity: 30%;
}

/* Showing names of known validators on taskgrid of validated tasks */
setting::show_validator {
  type: boolean;
  label: tr("Show validator name in taskgrid");
  default: true;
}

/* Base style for all validated tasks */
way[validatedBy][setting("show_validator")] {
    font-size: 14px;
    text-halo-radius: 2;
}

/* I put names into tr("") because when I used simple text I had to put always two words separate by space */
way[validatedBy=2916048][setting("show_validator")]  { text: tr("Norbert Dichter"); }
way[validatedBy=5438501][setting("show_validator")]  { text: tr("anthaas"); }
way[validatedBy=378610][setting("show_validator")]   { text: tr("Jorieke V"); }
way[validatedBy=1414812][setting("show_validator")]  { text: tr("RAytoun"); }
way[validatedBy=9621269][setting("show_validator")]  { text: tr("martien-176"); }
way[validatedBy=2249513][setting("show_validator")]  { text: tr("hebolz"); }
way[validatedBy=2278272][setting("show_validator")]  { text: tr("bluestarfish"); }
way[validatedBy=11880034][setting("show_validator")] { text: tr("peculiar theater"); }
way[validatedBy=10478691][setting("show_validator")] { text: tr("Patrik_B"); }
way[validatedBy=8520420][setting("show_validator")] { text: tr("gnoye"); }
way[validatedBy=4355439][setting("show_validator")] { text: tr("Libor Bednarik"); }
way[validatedBy=8285929][setting("show_validator")] { text: tr("JohnW11"); }
way[validatedBy=344974][setting("show_validator")] { text: tr("Lubosse"); }
way[validatedBy=1962399][setting("show_validator")] { text: tr("Frans S"); }
way[validatedBy=4367139][setting("show_validator")] { text: tr("sab27"); }
way[validatedBy=5328434][setting("show_validator")] { text: tr("Puxan"); }
way[validatedBy=11713186][setting("show_validator")] { text: tr("Václav Šilpoch"); }

/*Spase data or unusual tags visualisation*/
setting::special_spase {
  type: boolean;
  label: tr("SpaSe or unusual tags");
  default: true;
}
way[susceptibility="flood hazard"][setting("special_spase")]{
    fill-color: blue; 
    width: 20;
}
way[susceptibility="dense forest"][setting("special_spase")]{
    color: green; 
    width: 20;
}
way[flood_prone=yes][setting("special_spase")]{
    width: 20;
}

/* END of Spase data or unusual tags visualisation*/

way[was:amenity=refugee_site] , way[amenity=refugee_site]{
    fill-color:#ff8400
}
